html {
  scroll-behavior: smooth;
  width: 100%;
  font-family: Arial;
}

.navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;

  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: black;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #233CFF;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #233CFF;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

.menu-items a{
    text-decoration: none;
  }

.menu-items li{
    text-decoration: none;
    list-style: none;
    padding: 5px;
    padding-left: 30px;
}

nav{
  position: fixed;
  width: 100%;
  background-color: #233CFF;
  padding: 0;
  margin: 0;
  display: inline-flex
}

nav a{
  color: #FFC601;
}


header img{
  width: 50px;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 8px;
  margin-right: 60px;
}

.container, .banner{
  clear: both;
}

.banner{
  
    background-image: url(img/imagem\ parallax.png);
  
    min-height: 500px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.logo a {
  text-decoration: none;
  font-size: 24pt;
  line-height: 64px;
  margin-left: 20px;
}

footer{
  width: 100%;
  height: 520px;
  background-color: #233CFF;
  font-size: 18px;
  text-align: center;
}

#contato p{
  margin: 0 auto;
  padding: 8px;
}

#contato p input{
  border-radius: 5px;
  width: 240px;
}



#contato textarea{
  width: 250px;
  height: 150px;
  border-radius: 10px;
}

footer button{
  width: 100px;
  margin-top: 10px;
  height: 30px;
  border-radius: 10px;
  background-color: #FFC601;
  border-radius: 8px;
}

#nomes p{
  display: inline-block;
}

#nomes{
  width: 100%;
  background-color: #FFC601;
  text-align: center;
  height: 140px;
  font-size: 14pt
}

body{
background-color: #FFC601;
}

.menu-items li a{
  color: #FFC601;
}

.containerprincipal{
  width: 100%;
}

#basico ul{
  width: 100%;
}

.containerprincipal li{
  list-style: none;
  border: 1.5px solid black;
  width: 300px;
  border-radius: 10px;
  text-align: center;
  float: left;
  height: 500px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.preco{
padding: 8px;
}

.containerprincipal button{
  padding: 3px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #0317B3;
  color: #FFC601;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.containerprincipal h2{ 
  margin: 0 auto;
  clear: both;
  background-color: #233CFF;
  width: max-content;
  margin-top: 8px;
  border-radius: 5px;
  color: #FFC601;
}

.containerprincipal img{
  width: 300px;
  height: 300px;
  border-radius: 10px 10px 0 0;
  padding: 0;

}

footer, #nomes{
  clear: both;
}

#home{
  color: #FFC601;
}

@media screen and (max-width:780px){
  .logo a {
    display: none;
  }
  }

